body {
    margin: 0;
}

.timer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Josefin Sans', sans-serif;

    background: url('./bg.jpg');
    background-size: cover;
}

.field {
    display: flex;
    flex-direction: column;
}

.field:not(:last-child) {
    margin-right: 10px;
}

.value {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    font-size: 60px;

    border: 2px solid tomato;
    border-radius: 20px;

    
}

.value::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 2px solid tomato;
    border-radius: 20px;
    background: linear-gradient(tomato, white);
    opacity: 40%;
}

.label {
    margin-top: 10px;
    font-size: 20px;
}